<%- include('../includes/head.ejs') %>

  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>

      <% if (products.length > 0) {%>

        <ul>
          <% products.forEach(product => { %>
            <li>
              <p>
                <%= product.productData.title%> ( <%= product.quantity%> )</li>
                
                <form action="/cart-delete-item" method="POST">
                  <input type="hidden" name="productId" value="<%= product.productData.id %>">
                  <button class="btn">delete</button>
                </form>
              </p>
            <%
            
          }); %>

        </ul>
      <%} else { %>
        <h1>There are no products in cart.</h1>
        <%} %>
    </main>
    <%- include('../includes/footer.ejs') %>
